{% extends 'base.html' %}

{% block content %}
  <div class="staffrule-entry">
    <h2>Shift Sequence Name: {{ shiftsequence.staffrule_name }}</h2>
    <p>Day Group: {{ shiftsequence.daygroup.name }}</p>
    <p>
      Shifts:{% for shiftsequenceshift in shiftsequence.shiftsequenceshift_set.all %}
        {{ shiftsequenceshift.shift.shift_type }}:{{ shiftsequenceshift.position }}
      {% endfor %}
    </p>
  </div>

  <p>
    <a href="{% url 'staffrule_update' shiftsequence.pk %}">Edit</a> | <a href="{% url 'staffrule_delete' shiftsequence.pk %}">Delete</a>
  </p>
  <p>
    Back to <a href="{% url 'staffrule_list' %}">All Shift Sequences</a>.
  </p>
{% endblock %}
