{% extends 'base.html' %}

{% block content %}
  <h2>Shift Sequence Shifts</h2>
  <table class="table table-striped table-bordered table-hover">
    <tr>
      <th>Shift Rule</th>
      <th>Role</th>
      <th>Count</th>
      <th>Action</th>
    </tr>
    {% for skillmixrulerole in skillmixrulerole_list %}
      <tr>
        <td>{{ skillmixrulerole.skillmixrule }}</td>
        <td>{{ skillmixrulerole.role }}</td>
        <td>{{ skillmixrulerole.count }}</td>
        <td>
          <a href="{% url 'skillmixrulerole_update' skillmixrulerole.pk %}">Edit</a> | <a href="{% url 'skillmixrulerole_delete' skillmixrulerole.pk %}">Delete</a>
        </td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
