{% extends 'base.html' %}

{% block content %}
  <h4>Shift Sequences:</h4>
  <table class="table table-striped table-bordered table-hover">
    <tr>
      <th>Shift Sequence Name</th>
      <th>Staff</th>
      <th>Day Group</th>
      {% if perms.rosters.change_roster %}
        <th>Action</th>
      {% endif %}
      <th>Invalid Shift Sequences</th>
    </tr>
    {% for shiftsequence in shiftsequence_list %}
      <tr>
        <td>{{ shiftsequence.staffrule_name }}</td>
        <td>
          {% for staff_member in shiftsequence.staff.all %}
            {{ staff_member.last_name }}, {{ staff_member.first_name }}
            <br />
          {% endfor %}
        </td>
        <td>{{ shiftsequence.daygroup.name }}</td>
        {% if perms.rosters.change_roster %}
          <td>
            <a href="{% url 'staffrule_update' shiftsequence.pk %}">Edit</a> | <a href="{% url 'staffrule_delete' shiftsequence.pk %}">Delete</a>
          </td>
        {% endif %}
        <td>
          {% for shiftsequenceshift in shiftsequence.shiftsequenceshift_set.all %}
            {% if shiftsequenceshift.shift.shift_type %}
              {{ shiftsequenceshift.shift.shift_type }}:{{ shiftsequenceshift.position }}
            {% else %}
              X:{{ shiftsequenceshift.position }}
            {% endif %}
            {% if perms.rosters.change_roster %}
              <a href="{% url 'staffruleshift_update' shiftsequenceshift.pk %}">Edit</a> | <a href="{% url 'staffruleshift_delete' shiftsequenceshift.pk %}">Delete</a>
            {% endif %}
            <br />
          {% endfor %}
          {% if perms.rosters.change_roster %}
            <a href="{% url 'staffruleshift_create' shiftsequence.pk %}">Add Shift</a>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
