{% extends 'base.html' %}

{% block content %}
  <div>
    <h2>Shift Sequence Shift</h2>
    <p>Shift Sequence Rule Name: {{ shiftsequenceshift.shiftsequence.shiftsequence_name }}</p>
    <p>Shift: {{ shiftsequenceshift.shift.shift_type }}</p>
    <p>Position: {{ shiftsequenceshift.position }}</p>
  </div>

  <p>
    <a href="{% url 'shiftsequenceshift_update' shiftsequenceshift.pk %}">Edit</a> | <a href="{% url 'shiftsequenceshift_delete' shiftsequenceshift.pk %}">Delete</a>
  </p>
  <p>
    Back to <a href="{% url 'shiftsequence_list' %}">All Shift Sequence Rules</a>
  </p>
{% endblock %}
