{% extends 'base.html' %}

{% block content %}
  <div>
    <h2>Skill Mix Rule Name: {{ skillmixrule.skillmixrule_name }}</h2>
    <p>Shift: {{ skillmixrule.shift }}</p>
    <p>
      Roles:{% for skillmixrulerole in skillmixrule.skillmixrulerole_set.all %}
        {{ skillmixrulerole.role.role_name }}:{{ skillmixrulerole.count }}
      {% endfor %}
    </p>
  </div>

  <p>
    <a href="{% url 'skillmixrule_update' skillmixrule.pk %}">Edit</a> | <a href="{% url 'skillmixrule_delete' skillmixrule.pk %}">Delete</a>
  </p>
  <p>
    Back to <a href="{% url 'skillmixrule_list' %}">All Skill Mix Rules</a>.
  </p>
{% endblock %}
