{% extends 'base.html' %}

{% block content %}
  <div class="skillmixrulerole-entry">
    <h2>Shift Rule Role</h2>
    <p>Shift Rule Name: {{ skillmixrulerole.shiftrule.skillmixrule_name }}</p>
    <p>Role: {{ skillmixrulerole.role.role_name }}</p>
    <p>Count: {{ skillmixrulerole.count }}</p>
  </div>

  <p>
    <a href="{% url 'skillmixrulerole_update' skillmixrulerole.pk %}">Edit</a> | <a href="{% url 'skillmixrulerole_delete' skillmixrulerole.pk %}">Delete</a>
  </p>
  <p>
    Back to <a href="{% url 'skillmixrule_list' %}">All Shift Rules</a>
  </p>
{% endblock %}
