{% extends 'base.html' %}

{% block content %}

<h4>Skill Mix Rules:</h4>
<table class="table table-striped table-bordered table-hover">
  <tr>
    <th>Shift</th>
    <th>Skill Mix Rule Name</th>
    {% if perms.rosters.change_roster %}
    <th>Action</th>
    {% endif %}
    <th>Roles</th>
  </tr>
  {% for skillmixrule in skillmixrule_list %}
  <tr>
    <td>{{ skillmixrule.shift }}
    <td>{{ skillmixrule.skillmixrule_name }}</td>
    {% if perms.rosters.change_roster %}
    <td><a href="{% url 'skillmixrule_update' skillmixrule.pk %}">Edit</a> | <a
        href="{% url 'skillmixrule_delete' skillmixrule.pk %}">Delete</a></td>
    {% endif %}
    <td>
      {% for skillmixrulerole in skillmixrule.skillmixrulerole_set.all %}
      {{ skillmixrulerole.role}}:{{ skillmixrulerole.count}}
      {% if perms.rosters.change_roster %}
      <a href="{% url 'skillmixrulerole_update' skillmixrulerole.pk %}">Edit</a> | <a
        href="{% url 'skillmixrulerole_delete' skillmixrulerole.pk %}">Delete</a>
      {% endif %}
      <br />
      {% endfor %}
      {% if perms.rosters.change_roster %}
      <a href="{% url 'skillmixrulerole_create' skillmixrule.pk %}">Add Role</a>
      {% endif %}
    </td>
  </tr>
  {% endfor %}
</table>

{% endblock content %}