{% extends 'base.html' %}

{% block content %}

<h3>Staff Request Status:</h3>
  <table class="table table-striped table-bordered table-hover">
    <tr>
      <th>
        <h5>Successful Requests</h5>
      </th>
    </tr>
    {% for success in successes %}
      <tr>
          <td>{{ success }}</td>
      </tr>
    {% endfor %}
  </table>
  <table class="table table-striped table-bordered table-hover">
    <tr>
      <th>
        <h5>Failed Requests</h5>
      </th>
    </tr>
    {% for failure in failures %}
      <tr>
          <td>{{ failure }}</td>
      </tr>
    {% endfor %}
  </table>

{% endblock content %}
