[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-environ = "*"
"psycopg2-binary" = "*"
ortools = "*"
gunicorn = "*"
django-admin-rangefilter = "*"
django-crispy-forms = "*"

[dev-packages]
pylint = "*"
pylint-django = "*"
flake8 = "*"
pydocstyle = "*"
pytest-django = "*"
pytest-cov = "*"
django-debug-toolbar = "*"
black = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
