[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-environ = "*"
"psycopg2-binary" = "*"
ortools = "*"
gunicorn = "*"

[dev-packages]
pylint = "*"
pylint-django = "*"
flake8 = "*"
pydocstyle = "*"
pytest-django = "*"
pytest-cov = "*"

[requires]
python_version = "3.6"
