[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
"psycopg2-binary" = "*"
ortools = "*"
gunicorn = "*"
django-admin-rangefilter = "*"
django-crispy-forms = "*"
environs = {extras = ["django"], version = "*"}
celery = "*"
python-dateutil = "*"

[dev-packages]
pylint = "*"
pylint-django = "*"
flake8 = "*"
pydocstyle = "*"
pytest-django = "*"
pytest-cov = "*"
django-debug-toolbar = "*"
black = "==20.8b1"

[requires]
python_version = "3.8"
