absl-py==2.4.0
amqp==5.3.1
asgiref==3.11.1
astroid==4.0.3
attrs==25.4.0
billiard==4.2.4
celery==5.6.2
click==8.3.1
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
coverage==7.13.3
crispy-bootstrap4==2025.6
dill==0.4.1
dj-database-url==3.1.0
dj-email-url==1.0.6
dj-rest-auth==7.0.2
django==5.2.11
django-admin-rangefilter==0.13.5
django-allauth==65.14.0
django-cache-url==3.4.6
django-cors-headers==4.9.0
django-crispy-forms==2.5
django-debug-toolbar==6.2.0
django-extensions==4.1
djangorestframework==3.16.1
drf-spectacular==0.29.0
environs==14.5.0
gunicorn==25.0.1
immutabledict==4.2.2
inflection==0.5.1
iniconfig==2.3.0
isort==7.0.0
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
kombu==5.6.2
marshmallow==4.2.1
mccabe==0.7.0
numpy==2.4.2
ortools==9.15.6755
packaging==26.0
pandas==3.0.0
platformdirs==4.5.1
pluggy==1.6.0
prompt-toolkit==3.0.52
protobuf==6.33.5
psycopg2-binary==2.9.11
pygments==2.19.2
pylint==4.0.4
pylint-django==2.7.0
pylint-plugin-utils==0.9.0
pylint-pytest==1.1.7
pytest==9.0.2
pytest-cov==7.0.0
pytest-django==4.11.1
pytest-mock==3.15.1
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
pyyaml==6.0.3
redis==6.4.0
referencing==0.37.0
rpds-py==0.30.0
six==1.17.0
sqlparse==0.5.5
tomlkit==0.14.0
typing-extensions==4.15.0
tzdata==2025.3
tzlocal==5.3.1
uritemplate==4.2.0
vine==5.1.0
watchdog==6.0.0
wcwidth==0.5.3
