absl-py==2.3.1
amqp==5.3.1
asgiref==3.10.0
astroid==3.3.11
attrs==25.4.0
billiard==4.2.2
celery==5.5.3
click==8.3.0
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
coverage==7.11.0
crispy-bootstrap4==2025.6
dill==0.4.0
dj-database-url==3.0.1
dj-email-url==1.0.6
dj-rest-auth==7.0.1
django==5.2.8
django-admin-rangefilter==0.13.3
django-allauth==65.13.0
django-cache-url==3.4.5
django-cors-headers==4.9.0
django-crispy-forms==2.4
django-debug-toolbar==6.1.0
django-extensions==4.1
djangorestframework==3.16.1
drf-spectacular==0.29.0
environs==14.5.0
gunicorn==23.0.0
immutabledict==4.2.2
inflection==0.5.1
iniconfig==2.3.0
isort==6.1.0
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
kombu==5.5.4
marshmallow==4.1.0
mccabe==0.7.0
numpy==2.3.4
ortools==9.14.6206
packaging==25.0
pandas==2.3.3
platformdirs==4.5.0
pluggy==1.6.0
prompt-toolkit==3.0.52
protobuf==6.31.1
psycopg2-binary==2.9.11
pygments==2.19.2
pylint==3.3.9
pylint-django==2.6.1
pylint-plugin-utils==0.9.0
pylint-pytest==1.1.7
pytest==8.4.2
pytest-cov==7.0.0
pytest-django==4.11.1
pytest-mock==3.15.1
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
pytz==2025.2
pyyaml==6.0.3
redis==5.2.1
referencing==0.37.0
rpds-py==0.28.0
six==1.17.0
sqlparse==0.5.3
tomlkit==0.13.3
typing-extensions==4.15.0
tzdata==2025.2
uritemplate==4.2.0
vine==5.1.0
watchdog==6.0.0
wcwidth==0.2.14
