{% extends 'base.html' %}

{% block content %}

  <div class="user-entry">
    <h4>{{ custom_user.last_name}}, {{ custom_user.first_name}}:</h4>
    <table class="table table-striped table-bordered table-hover">
      <tr>
        <th>Username</th>
        <th>Last Name</th>
        <th>First Name</th>
        <th>Email Address</th>
        <th>Shifts per Roster</th>
        <th>Max Shifts if Taking Leave</th>
        <th>Available for Shifts</th>
        <th>Roles</th>
      </tr>
      <tr>
        <td>{{ custom_user.username }}</td>
        <td>{{ custom_user.last_name }}</td>
        <td>{{ custom_user.first_name }}</td>
        <td>{{ custom_user.email }}</td>
        <td>{{ custom_user.shifts_per_roster }}</td>
        <td>{{ custom_user.max_shifts }}</td>
        <td>{{ custom_user.available }}</td>
        <td>{% for role in custom_user.roles.all %}
            {{ role.role_name }}
            {% endfor %}
        </td>
      </tr>
    </table>
  </div>

  <p><a href="{% url 'user_update' custom_user.pk %}">Edit</a> | <a href="{% url 'user_delete' custom_user.pk %}">Delete</a></p>
  <p>Back to <a href="{% url 'user_list' %}">All Staff</a></p>

{% endblock content %}
