{% extends 'base.html' %}

{% block content %}

  <div class="user-entry">
    <h4>{{ customuser.last_name}}, {{ customuser.first_name}}:</h4>
    <table class="table table-striped table-bordered table-hover">
      <tr>
        <th>Username</th>
        <th>Last Name</th>
        <th>First Name</th>
        <th>Email Address</th>
        <th>Shifts per Roster</th>
        <th>Max Shifts if Taking Leave</th>
        <th>Available for Shifts</th>
        <th>Roles</th>
      </tr>
      <tr>
        <td>{{ customuser.username }}</td>
        <td>{{ customuser.last_name }}</td>
        <td>{{ customuser.first_name }}</td>
        <td>{{ customuser.email }}</td>
        <td>{{ customuser.shifts_per_roster }}</td>
        <td>{{ customuser.max_shifts }}</td>
        <td>{{ customuser.available }}</td>
        <td>{% for role in customuser.roles.all %}
            {{ role.role_name }}
            {% endfor %}
        </td>
      </tr>
    </table>
  </div>

  <p><a href="{% url 'customuser_update' customuser.pk %}">Edit</a> | <a href="{% url 'customuser_delete' customuser.pk %}">Delete</a></p>
  <p>Back to <a href="{% url 'customuser_list' %}">All Staff</a></p>

{% endblock content %}
