{% extends 'base.html' %}

{% block title %}Roster{% endblock title %}

{% block content %}
<div class="jumbotron">
  <h1 class="display-4">Roster App</h1>
  <p class="lead">A roster app that works with shifts.</p>
  <p class="lead">
  </p>
</div>
<div class="list-group">
    <a href="{% url 'user_list' %}" class="list-group-item list-group-item-action">Staff</a>
    <a href="{% url 'role_list' %}" class="list-group-item list-group-item-action">Roles</a>
    <a href="{% url 'shift_list' %}" class="list-group-item list-group-item-action">Shifts</a>
    <a href="{% url 'shift_rule_list' %}" class="list-group-item list-group-item-action">Shift Rules</a>
    <a href="{% url 'staff_rule_list' %}" class="list-group-item list-group-item-action">Staff Rules</a>
    <a href="{% url 'leave_list' %}" class="list-group-item list-group-item-action">Leave</a>
</div>
{% endblock content %}
