{% extends 'base.html' %}

{% block content %}
<h2>Leave</h2>
<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>Date</th>
            <th>Staff Member</th>
            <th>Action</th>
        </tr>
    {% for leave in leave_list %}
    <tr>
        <td>{{ leave.date }}</td>
        <td>{{ leave.staff_member.last_name }}, {{ leave.staff_member.first_name }}</td>
        <td><a href="{% url 'leave_edit' leave.pk %}">Edit</a> | <a href="{% url 'leave_delete' leave.pk %}">Delete</a></td>
    </tr>
  {% endfor %}
</table>
<a href="{% url 'leave_new' %}">Create New Leave</a>
{% endblock content %}
