{% extends 'base.html' %}

{% block content %}
<h2>Staff Requests</h2>
<table class="table table-striped table-bordered table-hover">
    <tr>
        <th>Staff Member</th>
        <th>Day</th>
        <th>Shift</th>
        <th>Like</th>
        <th>Priority</th>
        <th>Action</th>
    </tr>
    {% for preference in preference_list %}
    <tr>
        <td>{{ preference.staff_member.last_name }}, {{ preference.staff_member.first_name }}</td>
        <td>{{ preference.date|date:"D d M Y" }}</td>
        <td>{{ preference.shift.shift_type }}</td>
        <td>{{ preference.like }}</td>
        <td>{{ preference.priority }}</td>
        <td><a href="{% url 'preference_edit' preference.pk %}">Edit</a> | <a href="{% url 'preference_delete' preference.pk %}">Delete</a></td>
    </tr>
  {% endfor %}
</table>
{% endblock content %}
