{% extends 'base.html' %}

{% block content %}
<h2>Roles</h2>
<table class="table table-striped table-bordered table-hover">
<tr>
    <th>Role</th>
    <th>Action</th>
    <th>Staff</th>
</tr>
    {% for role in role_list %}
<tr>
    <td>{{ role.role_name }}</td>
    <td><a href="{% url 'role_edit' role.pk %}">Edit</a> | <a href="{% url 'role_delete' role.pk %}">Delete</a></td>
    <td>{% for staff in role.customuser_set.all|dictsort:"last_name" %}
        {{ staff.last_name }}, {{ staff.first_name }}
        <a href="{% url 'user_edit' staff.pk %}">Edit</a> | <a href="{% url 'user_delete' user.pk %}">Delete</a>
        <br/>
        {% endfor %}
    </td>
</tr>
{% endfor %}
</table>
{% endblock content %}
