{% extends 'base.html' %}

{% block content-wide %}
<h2>Roster:</h2>
<table class="table table-striped table-bordered table-hover">
  <tr>
    <th>Staff Member</th>
    <th>Roles</th>
    {% for date in dates %}  
    <th>{{ date|date:"D" }}<br/>{{ date|date:"d_M" }}<br/>{{ date|date:"Y" }}</th>
    {% endfor %}
  </tr>
  {% for staff_member, staff_roster in roster.items %}
  <tr>
    <td>{{ staff_member }}</td>
    {% for key, value in staff_roster.items %}
    <td>{{ value }}</td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>
{% endblock content-wide %}
