{% extends 'base.html' %}
{% load static %}

{% block content %}
<h3>Roster Generation Status</h2>
{% if refresh %}
<div class="generating mt-3">
  <p>Processing, please wait...</p>
  <div class="spinner-border text-success"></div>
</div>  
<p>
  {% for result in results.values %}
  {{result}}<br>
  {% endfor %}
</p>
{% else %}
<p>
  Roster generation complete...
</p>
<div><a href="{% url 'timeslot_list' %}">Display Roster by Day</a></div>
<div><a href="{% url 'roster_by_staff' %}">Display Roster by Staff</a></div>
{% endif %}

{% endblock content %}

{% block extra-js %}
{% if refresh %}
<script src="{% static "js/refresh.js" %}"></script>
{% endif %}
{% endblock extra-js %}