{% extends 'base.html' %}

{% block content %}
<div class="shift-entry">
  <h2>{{ object.shift_type }}</h2>
    <ul>
        <li>Monday: {{ object.monday }}</li>
        <li>Tuesday: {{ object.tuesday }}</li>
        <li>Wednesday: {{ object.wednesday }}</li>
        <li>Thursday: {{ object.thursday }}</li>
        <li>Friday: {{ object.friday }}</li>
        <li>Saturday: {{ object.saturday }}</li>
        <li>Sunday: {{ object.sunday }}</li>
    </ul>
</div>

  <p><a href="{% url 'shift_edit' shift.pk %}">Edit</a> | <a href="{% url 'shift_delete' shift.pk %}">Delete</a></p>
  <p>Back to <a href="{% url 'shift_list' %}">All Shifts</a>.</p>
{% endblock content %}
