{% extends 'base.html' %}

{% block content %}

  <div class="shiftrule-entry">
    <h2>Skill Mix Rule Name: {{ shiftrule.shift_rule_name }}</h2>
      <p>Shift: {{ shiftrule.shift }}</p>
      <p>Roles: {% for shiftrulerole in shiftrule.shiftrulerole_set.all %}
        {{ shiftrulerole.role.role_name }}:{{ shiftrulerole.count }}
        {% endfor %}
      </p>
  </div>

  <p><a href="{% url 'shiftrule_update' shiftrule.pk %}">Edit</a> | <a href="{% url 'shiftrule_delete' shiftrule.pk %}">Delete</a></p>
  <p>Back to <a href="{% url 'shiftrule_list' %}">All Skill Mix Rules</a>.</p>

{% endblock content %}
