{% extends 'base.html' %}

{% block content %}

  <div class="shift_rule-entry">
    <h2>Skill Mix Rule Name: {{ shift_rule.shift_rule_name }}</h2>
      <p>Shift: {{ shift_rule.shift }}</p>
      <p>Roles: {% for shift_rule_role in shift_rule.shift_rule_role_set.all %}
        {{ shift_rule_role.role.role_name }}:{{ shift_rule_role.count }}
        {% endfor %}
      </p>
  </div>

  <p><a href="{% url 'shift_rule_update' shiftrule.pk %}">Edit</a> | <a href="{% url 'shift_rule_delete' shiftrule.pk %}">Delete</a></p>
  <p>Back to <a href="{% url 'shift_rule_list' %}">All Skill Mix Rules</a>.</p>

{% endblock content %}
