{% extends 'base.html' %}

{% block content %}
<h2>Shift Rule Roles</h2>
<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>Shift Rule</th>
            <th>Role</th>
            <th>Count</th>
            <th>Action</th>
        </tr>
    {% for shift_rule_role in shiftrulerole_list %}
    <tr>
        <td>{{ shift_rule_role.shift_rule }}</td>
        <td>{{ shift_rule_role.role }}</td>
        <td>{{ shift_rule_role.count }}</td>
        <td><a href="{% url 'shift_rule_role_edit' shift_rule_role.pk %}">Edit</a> | <a href="{% url 'shift_rule_role_delete' shift_rule_role.pk %}">Delete</a></td>
    </tr>
  {% endfor %}
</table>
{% endblock content %}
