{% extends 'base.html' %}

{% block content %}
<h2>Rosters</h2>
<p><a href="{% url 'generate_roster' %}">Generate New Roster</a></p>
<p><a href="{% url 'select_roster' %}">Select Roster Period</a></p>
<table class="table table-striped table-bordered table-hover">
  <tr>
    <th>Date</th>
    <th>Shift</th>
    <th>Staff</th>
    <th>Roles</th>
    <th>Action</th>
  </tr>
  {% for timeslot in timeslot_list %}
  <tr>
    <td>{{ timeslot.date }}</td>
    <td>{{ timeslot.shift }}</td>
    <td>
      {% for staff_member in timeslot.staff.all %}
        {{ staff_member.last_name }}, {{ staff_member.first_name }}
        <br/>
      {% endfor %}
    </td>
    <td>
      {% for staff_member in timeslot.staff.all %}
        {% for role in staff_member.roles.all %}
          {{ role.role_name }} {% endfor %}
        <br/>
      {% endfor %}
    </td>
    <td><a href="{% url 'timeslot_edit' timeslot.pk %}">Edit</a> | <a href="{% url 'timeslot_delete' timeslot.pk %}">Delete</a></td>
  </tr>
  {% endfor %}
</table>
<p><a href="{% url 'timeslot_new' %}">Add New Shift</a></p>
<p><a href="{% url 'generate_roster' %}">Generate New Roster</a></p>
{% endblock content %}
