{% extends 'base.html' %}

{% block content %}
<div class="user-entry">
  <h2>{{ customuser.last_name}}, {{ customuser.first_name}}</h2>
  <table class="table table-striped table-bordered table-hover">
      <thead>
          <tr>
              <th>Username</th>
              <th>Last Name</th>
              <th>First Name</th>
              <th>Email Address</th>
              <th>Roles</th>
          </tr>
      <tr>
          <td>{{ customuser.username }}</td>
          <td>{{ customuser.last_name }}</td>
          <td>{{ customuser.first_name }}</td>
          <td>{{ customuser.email }}</td>
          <td>{% for role in customuser.roles.all %}
              {{ role.role_name }}
              {% endfor %}
          </td>
      </tr>
  </table>
</div>

  <p><a href="{% url 'user_edit' user.pk %}">Edit</a> | <a href="{% url 'user_delete' user.pk %}">Delete</a></p>
  <p>Back to <a href="{% url 'user_list' %}">All Staff</a>.</p>
{% endblock content %}
